@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Começa um pouco abaixo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Finaliza na posição original */
  }
}

.animate-fade-up {
  animation: fadeInUp 0.5s ease-out; /* A animação dura 0.5s */
}

.MatcheMain{
  margin: 60px 400px 50px 400px;
  border: 5px solid black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 50px;
}

.Rodadas {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.Rodadas button {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 60px;
  margin: 0px 0px 20px 0px;
  border-radius: 20px;
  background-color: black;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Rodadas button:hover {
  background-color: green;
  transform: scale(1.2);
}

.Matches {
  background-color: rgba(255, 255, 255, 0.767);
  color: black;
  margin: 60px 700px 50px 700px;
  text-align: center;
  border: 5px solid black;
  border-radius: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 0.7s ease-out; /* Aplica a animação de fadeInUp */
}

.Matches p, .Matches strong, .Matches h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Matches h3{
  font-weight: bold;
  font-size: 4rem;
  color: black;
  margin: 10px 400px 0px 400px;
}

.Matches img {
  margin-top: 30px;
  padding: 2px;
  text-align: justify;
  width: 190px;
}