body {
  background-image: url('./assets/background/London/image.png');
  background-size: cover; /* Para cobrir a tela inteira */
  background-position: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.text-main {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 200px;
  max-width: 100%; /* Para evitar que exceda o tamanho do container */
}

.competitons img {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 2px solid black;
  margin: 30px 20px;
  border-radius: 20px;
  width: 500px;
  max-width: 90%; /* Para manter o tamanho dentro do limite da tela */
}

.competitons img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out; /* Suaviza a transição */
}

/* Responsividade */
@media (max-width: 768px) {
  .text-main {
    font-size: 1.5rem;
  }

  .logo img {
    width: 150px;
  }

  .competitons img {
    width: 250px;
    max-width: 80%;
    margin: 20px 20px 20px 20px;
  }
}

@media (max-width: 480px) {
  .text-main {
    font-size: 1.2rem;
  }

  .logo img {
    width: 80px;
  }

  .competitons img {
    width: 200px;
    max-width: 90%;
    margin: 10px auto;
  }
}